body {
  background-color: #000;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: red;
}
.navElements {
	float: left;
}
.heading {
	background-color: #191919;
	margin-top: 0px;
	padding: 0;
	margin: 0;
	position: fixed; 
	top: 0;
	width: 100%;
	z-index: 9999;
	height: 40px;
	

}
.header {
	margin-top: 7px;
	
}

.navbar-brand {
	border: rgb(235, 11, 11) 7px solid;
	padding: 0 22px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	margin-top: 40000px;
	margin-right: 10px;
	font-size: 160%;
	font-style: italic;
	background-color: #333;
	text-decoration: none;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
}