

body {
	font-family: Oswald;
	margin: 0px;
	padding: 0px;
	background-image: url(../../public/images/background3.jpg);
}

.heading {
	background-color: #191919;
	margin-top: 0px;
	padding: 0;
	padding-left: 4px;
	position: fixed; 
	top: 0;
	width: 100%;
	z-index: 9999;

}
.header {
	margin-top: 7px;
}
.navbar-brand {
	border: rgb(235, 11, 11) 7px solid;
	padding: 0 22px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	margin-top: 40000px;
	margin-right: 10px;
	font-size: 160%;
	font-style: italic;
	background-color: #333;
	text-decoration: none;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
}
.flip-card {
	
	perspective: 1000px;
	width: 30%;
	height: 30%;
    float: left;
	margin-top: 3.33%; 
	margin-bottom: 3.33%;  
	margin-left: 1.66%;
	margin-right: 1.66%; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.5s;
	transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
	background-color: #bbb;
	color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
	background-color: #2ecc71;
	color: white;
	transform: rotateY(180deg);
  }

  .container {
	width: 80%;
	height: 100%;
	position: relative;
	background: #191919;
	text-align: center;
	border: #34495e solid 2px;
	border-radius: 10%;
	opacity: 93%;
	margin-bottom: 40px;
	padding: 3%;
	margin: 5% auto;
}

#display{
	color: white;
	font-size: 4vw;
	padding: 5px;
	background-color: #2ecc71;
	border-radius: 15%;
	width: 40%;
	margin: 2% auto;
	letter-spacing: 4px;

}
.clickable {
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;     
	z-index: 1;
  }
  
  .dropbtn {
  background-color: inherit;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: all 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #2ecc71;
}

.navElements {
	float: left;
}
.dropbtn{
	padding-left: 23x;
	padding-right: 23px;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
}
	
.flip-card-back h1{
	letter-spacing: 2px;
	font-weight: 600;
	font-size: 2.5vw;
}
.flip-card-back p{
	font-weight: 200;
	letter-spacing: 1px;
	color: black;
	font-size: 1.5vw;
}