.grid {
  display: flex;
  flex-wrap: wrap;
  width: 1340px;
  height: 532px;
  align-items: center;
}
h3 {
  margin-top: 50px;
  text-align: center;
  color: cyan;
  font-size: 30px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body {
  align-content: center;
  background-image: url(../../../public/images/coronaMemory/wallpaper.jpg);
}
.navElements {
	float: left;
}
.heading {
	background-color: #191919;
	margin-top: 0px;
	padding: 0;
	margin: 0;
	position: fixed; 
	top: 0;
	width: 100%;
	z-index: 9999;
	height: 40px;


}
.header {
	margin-top: 7px;
	
}

.navbar-brand {
	border: rgb(235, 11, 11) 7px solid;
	padding: 0 22px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	margin-top: 40000px;
	margin-right: 10px;
	font-size: 160%;
	font-style: italic;
	background-color: #333;
	text-decoration: none;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
}
