@charset "UTF-8";
@keyframes duckfly {
	0% {
		left: 50%;
		top: 90%;
	}
	25% {
		left: 20%;
		top: 70%;
	}
	50% {
		left: 80%;
		top: 40%;
	}
	75% {
		left: 60%;
		top: 20%;
	}
	100% {
		left: -70%;
		top: 60%;
	}
}

input + label {
	position: absolute;
	left: -100px;
	z-index: 1;
	width: 36px;
	height: 34px;
	z-index: 5;
	transform: translate(-50%, -50%);
	background: url(../../../public/images/duckShooter/duck_black.png) no-repeat left center;
	background-position: -138px 0;
}
input:checked + label {
	opacity: 0;
	transition: all 0.5s;
	transform: rotate(120deg);
	transform-origin: 60%;
	z-index: -5;
}

.duck:nth-last-of-type(1) {
	animation: duckfly 10s linear 1s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}

.duck:nth-last-of-type(2) {
	animation: duckfly 7s linear 2s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(3) {
	animation: duckfly 15s linear 3s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(4) {
	animation: duckfly 10s linear 4s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}

.duck:nth-last-of-type(5) {
	animation: duckfly 10s linear 5s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}

.duck:nth-last-of-type(6) {
	animation: duckfly 30s linear 5s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(7) {
	animation: duckfly 25s linear 5s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(8) {
	animation: duckfly 20s linear 6s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(9) {
	animation: duckfly 17s linear 8s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(10) {
	animation: duckfly 34s linear 5s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(11) {
	animation: duckfly 40s linear 3s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(12) {
	animation: duckfly 50s linear 10s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(13) {
	animation: duckfly 32s linear 7s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(14) {
	animation: duckfly 10s linear 5s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(15) {
	animation: duckfly 9s linear 2s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(16) {
	animation: duckfly 30s linear 4s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(17) {
	animation: duckfly 60s linear 6s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(18) {
	animation: duckfly 10s linear 3s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(19) {
	animation: duckfly 12s linear 5s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(20) {
	animation: duckfly 9s linear 2s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}
.duck:nth-last-of-type(21) {
	animation: duckfly 7s linear 3s infinite;
	animation-direction: alternate;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
}

.score {
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	font-family: serif;
	text-align: center;
	width: 100%;
	z-index: 2;
	background-color: #000000;
	color: #c9f7e6;
}

.score:after {
	content: counter(score);
	display: inline-block;
}
.score:before {
	content: 'SCORE : ';
	display: inline-block;
	margin-right: 10px;
}

input:checked {
	counter-increment: score;
}

body {
	margin: 0;
	padding: 0;
	cursor: url(../../../public/images/duckShooter/aim.png), text;
	overflow: hidden;
}
body:before {
	content: '';
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: url(../../../public/images/duckShooter/bg.png) repeat-x bottom left;
}
