body {
	background-image: url(../../../public/images/background3.jpg);
}
.navElements {
float: left;
}
.heading {
	background-color: #191919;
	margin-top: 0px;
	padding: 0;
	margin: 0;
	position: fixed; 
	top: 0;
	width: 100%;
	z-index: 9999;
	height: 40px;


}
.header {
	margin-top: 7px;
	
	
}
.instruction{
	margin-top: 40px;
}

.navbar-brand {
	border: rgb(235, 11, 11) 7px solid;
	padding: 0 22px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	margin-top: 40000px;
	margin-right: 10px;
	font-size: 160%;
	font-style: italic;
	background-color: #333;
	text-decoration: none;
	color: rgb(255, 255, 255);
	letter-spacing: 2px;
}
#myCanvas {
	opacity: 0;
	background: rgb(0, 0, 0);
	padding-left: 0;
	padding-right: 0;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.game {
	margin: 10px auto;
	padding: 0;
	width: 800px;
	height: 500px;
}
h1,
p {
	padding: 15px 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: white;
	background-color: black;
	text-align: center;
	width: 640px;
}
.startButton {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 0;
}
.button {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font-size: xx-large;
	font-family: 'Amatic SC', cursive;
	font-weight: bolder;
	color: white;
	background-color: black;
}
